.main{
    height: 500px;

    
    background-image: url('/src/image/photo-1486312338219-ce68d2c6f44d.jpg');
    

   
    background-size:cover;
    overflow: hidden;
    
    
     position:relative; 
    background-position:center; 
    
   
}