/* {box-sizing:border-box} */

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
   /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 0px; /* Add top padding */
  padding-bottom: 0px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 90%; background-color: #e4d50c;} /* Green */
.css {width: 80%; background-color: #a09193;} /* Blue */
.js {width: 65%; background-color: #9b635f;} /* Red */
.react {width: 75%; background-color: #126fad;} /* Dark Grey */
.skill:hover{
  transition: .3s;
  transform: scaleY(1.1);
}